In [1]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──

✔ ggplot2 3.2.0     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
df.marathon = read.csv('../data/marathon.csv')
df.marathon %>% head

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

# Filter

- the filter operation does exactly what you expect given its name.

In [3]:
# e.g.
iris %>% filter(Species == 'setosa', Petal.Width > 0.2)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.4          3.9         1.7          0.4         setosa
2  4.6          3.4         1.4          0.3         setosa
3  5.7          4.4         1.5          0.4         setosa
4  5.4          3.9         1.3          0.4         setosa
5  5.1          3.5         1.4          0.3         setosa
6  5.7          3.8         1.7          0.3         setosa
7  5.1          3.8         1.5          0.3         setosa
8  5.1          3.7         1.5          0.4         setosa
9  5.1          3.3         1.7          0.5         setosa
10 5.0          3.4         1.6          0.4         setosa
11 5.4          3.4         1.5          0.4         setosa
12 5.0          3.5         1.3          0.3         setosa
13 4.5          2.3         1.3          0.3         setosa
14 5.0          3.5         1.6          0.6         setosa
15 5.1          3.8         1.9          0.4         setosa
16 4.8          3.0         1.4          0.3         setosa

- The syntax for the `equals` operator in R is `==`.
- Greater than (`>` or `>=`) and less than (`<` or `<=`) are intuitive.
- You can fitler on multiple columns by adding arguments to the filter operation.

Filter the marathon data to just the runners from Kenya.

In [5]:
df.marathon %>% filter(country == 'Kenya')

   year name                      country time       race.time MF
1  2019 Lawrence Cherono          Kenya   2H 7M 57S  2.132500  Men's
2  2017 Geoffrey Kirui            Kenya   2H 9M 37S  2.160278  Men's
3  2012 Wesley Korir              Kenya   2H 12M 40S 2.211111  Men's
4  2011 Geoffrey Mutai            Kenya   2H 3M 2S   2.050556  Men's
5  2010 Robert Kiprono Cheruiyot  Kenya   2H 5M 52S  2.097778  Men's
6  2008 Robert Kipkoech Cheruiyot Kenya   2H 7M 46S  2.129444  Men's
7  2007 Robert Kipkoech Cheruiyot Kenya   2H 14M 13S 2.236944  Men's
8  2006 Robert Kipkoech Cheruiyot Kenya   2H 7M 14S  2.120556  Men's
9  2004 Timothy Cherigat          Kenya   2H 10M 37S 2.176944  Men's
10 2003 Robert Kipkoech Cheruiyot Kenya   2H 10M 11S 2.169722  Men's
11 2002 Rodgers Rop               Kenya   2H 9M 2S   2.150556  Men's
12 2000 Elijah Lagat              Kenya   2H 9M 47S  2.163056  Men's
13 1999 Joseph Chebet             Kenya   2H 9M 52S  2.164444  Men's
14 1998 Moses Tanui               Kenya   2H 7M 34S  2.126111  Men's
15 1997 Lameck Aguta              Kenya   2H 10M 34S 2.176111  Men's
16 1996 Moses Tanui               Kenya   2H 9M 15S  2.154167  Men's
17 1995 Cosmas Ndeti              Kenya   2H 9M 22S  2.156111  Men's
18 1994 Cosmas Ndeti              Kenya   2H 7M 15S  2.120833  Men's
19 1993 Cosmas Ndeti              Kenya   2H 9M 33S  2.159167  Men's
20 1992 Ibrahim Hussein           Kenya   2H 8M 14S  2.137222  Men's
21 1991 Ibrahim Hussein           Kenya   2H 11M 6S  2.185000  Men's
22 1988 Ibrahim Hussein           Kenya   2H 8M 43S  2.145278  Men's
23 2017 Edna Kiplagat             Kenya   2H 21M 52S 2.364444  Women's
24 2015 Caroline Rotich           Kenya   2H 24M 55S 2.415278  Women's
25 2013 Rita Jeptoo               Kenya   2H 26M 25S 2.440278  Women's
26 2012 Sharon Cherop             Kenya   2H 31M 50S 2.530556  Women's
27 2011 Caroline Kilel            Kenya   2H 22M 36S 2.376667  Women's
28 2009 Salina Kosgei             Kenya   2H 32M 16S 2.537778  Women's
29 2006 Rita Jeptoo               Kenya   2H 23M 38S 2.393889  Women's
30 2005 Catherine Ndereba         Kenya   2H 25M 13S 2.420278  Women's
31 2004 Catherine Ndereba         Kenya   2H 24M 27S 2.407500  Women's
32 2002 Margaret Okayo            Kenya   2H 20M 43S 2.345278  Women's
33 2001 Catherine Ndereba         Kenya   2H 23M 53S 2.398056  Women's
34 2000 Catherine Ndereba         Kenya   2H 26M 11S 2.436389  Women's
   country.simple
1  Kenya
2  Kenya
3  Kenya
4  Kenya
5  Kenya
6  Kenya
7  Kenya
8  Kenya
9  Kenya
10 Kenya
11 Kenya
12 Kenya
13 Kenya
14 Kenya
15 Kenya
16 Kenya
17 Kenya
18 Kenya
19 Kenya
20 Kenya
21 Kenya
22 Kenya
23 Kenya
24 Kenya
25 Kenya
26 Kenya
27 Kenya
28 Kenya
29 Kenya
30 Kenya
31 Kenya
32 Kenya
33 Kenya
34 Kenya

# Select

- select let's you include/exclude columns.

In [6]:
# e.g.

iris %>% select(Species, Sepal.Length) %>% head

  Species Sepal.Length
1 setosa  5.1
2 setosa  4.9
3 setosa  4.7
4 setosa  4.6
5 setosa  5.0
6 setosa  5.4

Select just the columns that represent runner names and country from the marathon data.

In [7]:
df.marathon %>% select(name, country) %>% head

  name                       country
1 Lawrence Cherono           Kenya
2 Yuki Kawauchi              Japan
3 Geoffrey Kirui             Kenya
4 Lemi Berhanu               Ethiopia
5 Lelisa Desisa              Ethiopia
6 Mebrahtom "Meb" Keflezighi United States

# Putting it all together

Use `group_by`, `filter`, and `summarize` to show the best race times for US and Kenyan women runners. (*Hint: use the `%in%` operator to filter by two values for one column*). Fill in the missing pieces below:

In [20]:
 df.marathon %>%
     filter(MF == "Women's", country %in% c('United States', 'Kenya')) %>%
     group_by(country) %>%
     summarize(best.race.time = min(race.time))

  country       best.race.time
1 Kenya         2.345278
2 United States 2.378611

Use `filter`, `select`, `head`, and `arrange` to show the best women's race times in the data and the country of the runners. Fill in the missing pieces below:

In [27]:
 df.marathon %>%
     filter(MF == "Women's") %>%
     select(race.time, country) %>%
     arrange(race.time) %>% #arranges in ascending order by default
     head()

  race.time country
1 2.333056  Ethiopia
2 2.345278  Kenya
3 2.362500  Germany
4 2.364444  Kenya
5 2.376667  Kenya
6 2.378611  United States

What's the best race time ever for a US man?

In [28]:
 df.marathon %>%
     filter(MF == "Men's", country =='United States') %>%
     summarize(best.race.time = min(race.time))

  best.race.time
1 2.143611

How does the best US men's time compare the the best race time in the data overall?

In [18]:
#best race time overall
df.marathon %>%
     summarize(best.race.time = min(race.time))

#best US men's time is slightly slower compared to this

  best.race.time
1 2.050556

# Bonus

For all countries with at least 5 winners in the men's category, which country has the best median race time in the men's category? (*Hint: use the `n()` function to count the winners by country.)

In [46]:
# This should get you started. It adds a column "N.winners" that represents the
# total winners from the runner's country.

df.marathon %>%
    filter(MF == "Men's") %>%
    group_by(country) %>%
    mutate(N.winners = n()) 

df.marathon %>%
 filter(country %in% c('United States', 'Kenya', 'Ethiopia','Japan', 'Canada')) %>%
 group_by(country) %>%
 summarize(median.race.time = median(race.time))


#Kenya has the best median race time

    year name                        country       time       race.time MF
1   2019 Lawrence Cherono            Kenya         2H 7M 57S  2.132500  Men's
2   2018 Yuki Kawauchi               Japan         2H 15M 58S 2.266111  Men's
3   2017 Geoffrey Kirui              Kenya         2H 9M 37S  2.160278  Men's
4   2016 Lemi Berhanu                Ethiopia      2H 12M 45S 2.212500  Men's
5   2015 Lelisa Desisa               Ethiopia      2H 9M 17S  2.154722  Men's
6   2014 Mebrahtom "Meb" Keflezighi  United States 2H 8M 37S  2.143611  Men's
7   2013 Lelisa Desisa               Ethiopia      2H 10M 22S 2.172778  Men's
8   2012 Wesley Korir                Kenya         2H 12M 40S 2.211111  Men's
9   2011 Geoffrey Mutai              Kenya         2H 3M 2S   2.050556  Men's
10  2010 Robert Kiprono Cheruiyot    Kenya         2H 5M 52S  2.097778  Men's
11  2009 Deriba Merga                Ethiopia      2H 8M 42S  2.145000  Men's
12  2008 Robert Kipkoech Cheruiyot   Kenya         2H 7M 46S  2.129444  Men's
13  2007 Robert Kipkoech Cheruiyot   Kenya         2H 14M 13S 2.236944  Men's
14  2006 Robert Kipkoech Cheruiyot   Kenya         2H 7M 14S  2.120556  Men's
15  2005 Hailu Negussie              Ethiopia      2H 11M 45S 2.195833  Men's
16  2004 Timothy Cherigat            Kenya         2H 10M 37S 2.176944  Men's
17  2003 Robert Kipkoech Cheruiyot   Kenya         2H 10M 11S 2.169722  Men's
18  2002 Rodgers Rop                 Kenya         2H 9M 2S   2.150556  Men's
19  2001 Lee Bong-Ju                 South Korea   2H 9M 43S  2.161944  Men's
20  2000 Elijah Lagat                Kenya         2H 9M 47S  2.163056  Men's
21  1999 Joseph Chebet               Kenya         2H 9M 52S  2.164444  Men's
22  1998 Moses Tanui                 Kenya         2H 7M 34S  2.126111  Men's
23  1997 Lameck Aguta                Kenya         2H 10M 34S 2.176111  Men's
24  1996 Moses Tanui                 Kenya         2H 9M 15S  2.154167  Men's
25  1995 Cosmas Ndeti                Kenya         2H 9M 22S  2.156111  Men's
26  1994 Cosmas Ndeti                Kenya         2H 7M 15S  2.120833  Men's
27  1993 Cosmas Ndeti                Kenya         2H 9M 33S  2.159167  Men's
28  1992 Ibrahim Hussein             Kenya         2H 8M 14S  2.137222  Men's
29  1991 Ibrahim Hussein             Kenya         2H 11M 6S  2.185000  Men's
30  1990 Gelindo Bordin              Italy         2H 8M 19S  2.138611  Men's
⋮   ⋮    ⋮                           ⋮             ⋮          ⋮         ⋮
94  1926 John C. Miles               Canada        2H 25M 40S 2.427778  Men's
95  1925 Charles L. (Chuck) Mellor   United States 2H 33M 0S  2.550000  Men's
96  1924 Clarence H. DeMar           United States 2H 29M 40S 2.494444  Men's
97  1923 Clarence H. DeMar           United States 2H 23M 47S 2.396389  Men's
98  1922 Clarence H. DeMar           United States 2H 18M 10S 2.302778  Men's
99  1921 Frank T. Zuna               United States 2H 18M 57S 2.315833  Men's
100 1920 Peter Trivoulidas           Greece        2H 29M 31S 2.491944  Men's
101 1919 Carl W. A. Linder           United States 2H 29M 13S 2.486944  Men's
102 1918 Camp Devens Divisional Team United States 2H 24M 53S 2.414722  Men's
103 1917 William J. (Bill) Kennedy   United States 2H 28M 37S 2.476944  Men's
104 1916 Arthur V. Roth              United States 2H 27M 16S 2.454444  Men's
105 1915 Edouard Fabre               Canada        2H 31M 41S 2.528056  Men's
106 1914 James Duffy                 Canada        2H 25M 1S  2.416944  Men's
107 1913 Fritz Carlson               United States 2H 25M 14S 2.420556  Men's
108 1912 Michael J. Ryan             United States 2H 21M 18S 2.355000  Men's
109 1911 Clarence H. DeMar           United States 2H 21M 39S 2.360833  Men's
110 1910 Fred L. Cameron             Canada        2H 28M 52S 2.481111  Men's
111 1909 Henri Renaud                United States 2H 53M 36S 2.893333  Men's
112 1908 Thomas P. Morrissey         United States 2H 25M 43S 2.428611  Men's
113 1907 Thomas Longboat             Canada        2H 24M 24S 2.406667  Men's
114 1906 Timothy Ford                United States 2H 45M 45S 2.762500  Men's
115 1905 Frederick Lorz              United States 2H 38M 25S 2.640278  Men's
116 1904 Michael Spring              United States 2H 38M 4S  2.634444  Men's
117 1903 John C. Lorden              United States 2H 41M 29S 2.691389  Men's
118 1902 Sammy A. Mellor             United States 2H 43M 12S 2.720000  Men's
119 1901 John P. Caffery             Canada        2H 29M 23S 2.489722  Men's
120 1900 John P. Caffery             Canada        2H 39M 44S 2.662222  Men's
121 1899 Lawrence Brignolia          United States 2H 54M 38S 2.910556  Men's
122 1898 Ronald J. MacDonald         Canada        2H 42M 0S  2.700000  Men's
123 1897 John J. McDermott           United States 2H 55M 10S 2.919444  Men's
    country.simple N.winners
1   Kenya          22
2   Japan           9
3   Kenya          22
4   Ethiopia        6
5   Ethiopia        6
6   United States  44
7   Ethiopia        6
8   Kenya          22
9   Kenya          22
10  Kenya          22
11  Ethiopia        6
12  Kenya          22
13  Kenya          22
14  Kenya          22
15  Ethiopia        6
16  Kenya          22
17  Kenya          22
18  Kenya          22
19  other           1
20  Kenya          22
21  Kenya          22
22  Kenya          22
23  Kenya          22
24  Kenya          22
25  Kenya          22
26  Kenya          22
27  Kenya          22
28  Kenya          22
29  Kenya          22
30  other           1
⋮   ⋮              ⋮
94  other          16
95  United States  44
96  United States  44
97  United States  44
98  United States  44
99  United States  44
100 other           2
101 United States  44
102 United States  44
103 United States  44
104 United States  44
105 other          16
106 other          16
107 United States  44
108 United States  44
109 United States  44
110 other          16
111 United States  44
112 United States  44
113 other          16
114 United States  44
115 United States  44
116 United States  44
117 United States  44
118 United States  44
119 other          16
120 other          16
121 United States  44
122 other          16
123 United States  44

  country       median.race.time
1 Canada        2.517222
2 Ethiopia      2.361111
3 Japan         2.275833
4 Kenya         2.172917
5 United States 2.510833